.background{
    /* background-color: red; */
    height: 100%;
    width: 100%;
}
.header{
    /* background-color:#e4eaee; */
    background-color:transparent;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 57px;
    margin-bottom: 50px;
}

.pageheader{
    border: 1px solid rgb(235, 237, 240);
    width:100%;
    height: 100%;
}

.p{
    background-color: white;
    font-size: 30pt;
    font-weight: 500;
    color: #607d8b;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 3%;

}

.headerRest{
    background-color: transparent;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: flex;
    align-items: center;
    text-align: center;
    margin-left: 52%;
}

.tree{
    /* background-color: #e4eaee; */
    width: 80%;
    
    font-size:12pt;
    font-weight: 500;
    color: black;
    border:#e4eaee0e 1px solid;
}

.EditButton{
   margin-top: 7%;
   margin-right: 3%;
}