.div{
    /* background-color: red; */
    width: 70px;
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 100%;
    margin-right: 3%;

}

.NavigationItem{
    box-sizing: border-box;
    color:black;
    display: flex;
    justify-content: center; 
    align-items: center;   
    font-weight: 600;
    font-size: 12pt;
    width: 100%;
}
.NavigationItem:hover{
    color: #000;
    font-weight: 700;
    background:linear-gradient(rgba(0, 0, 0, 0.137),transparent);

}



